body,
html {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}
body { overflow: hidden; }

:root {
	--dot-opacity: 40%;
	/* 22.5% */
	--dot-color: hsla(0, 0%, 35%, var(--dot-opacity));
	--dot-spacing: 16px;
	--dot-size: 2px;

	--main-bg: #19191b;
}

#canvasWrapper {
	background-color: var(--main-bg);
	width: 100%;
	height: 100%;
}

#c {
	margin: 0 !important;
	padding: 0 !important;
}

#toolbar {
	min-width: calc(256px - 16px);
	position: fixed;
	top: 8px;
	right: 8px;
	z-index: 3;
	width: min-content;

	background-color: #202124;
	
	display: flex;
	justify-content: center;
	column-gap: .5rem;
	padding: 8px;
	border-radius: 6px;
}

#toolbar > button {
	width: 44px;
	height: 44px;
	border-width: 0px;

	background-color: hsl(240, 4%, 20%);
	border-radius: 12px;
	color: #a3a5aa;
	cursor: pointer;
	user-select: none;

	display: flex;
	justify-content: center;
	align-items: center;
}
#toolbar > button:hover {
	background-color: hsl(240, 4%, 25%);
}
#toolbar > button:active {
	background-color: hsl(240, 4%, 30%);
}

body .tp-dfwv {
	top: 76px;
}



/* button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
} */